@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --accent-color: #69AE96; /* Accent */
    --dark-color: #1F1F1F; /* Dark */
    --half-dark-color: #8F8F8F; /* Dark 50% */
    --main-background-color: #F5F9FA; /* Main BG */
    --second-background-color: #F5FCF8; /* BG color #2 */
    --third-background-color: #FCF8F5; /* BG color #3 */

    --white-color: #FFFFFF; /* White color */
    --another-black-color: #2C2738; /* H2 H3 */
    --special-color: #3B7A64; /* Hover, Focus Border */
    --disabled-text-color: #A0A0A0; /* Disabled Text*/
    --disabled-color: #E5E5E5; /* Disabled Button*/

    --border-color: #c9ccd4; /* Fields Border Color*/
    --focus-border-color: rgba(105, 174, 150, 0.3);
    --white-border-color: #e7e7e7;
    --nav-item-text-color: #a2a2a2;
    --dots-gray-color: #e9e9e9;
}

h1, h2, h3 {
    font-family: 'Italiana', serif;
    font-weight: 400;
    letter-spacing: 0.04em;
}

h1 {
    font-size: 90px;
    line-height: 106px;
    color: var(--dark-color);
}

h2 {
    font-size: 70px;
    line-height: 82px;
    color: var(--another-black-color);
}

h3 {
    font-size: 70px;
    line-height: 82px;
    color: var(--another-black-color);
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--dark-color);
}

p.text_italic_large {
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 27px;
}

p.text_bold {
    font-weight: 600;
}

p.text_small {
    font-size: 14px;
    line-height: 21px;
}

a {
    text-decoration: none;
}

button {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin: 35px 131px 40px 0;
    padding: 20px 61px;
    border-radius: 41px;
    box-shadow: 0 12px 24px 0 rgba(44, 39, 56, 0.08);
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--white-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

button:hover {
    margin: 40px 144px 40px 0;
    background-color: var(--special-color);
}

button:focus {
    margin: 40px 146px 40px 0;
    background-color: var(--accent-color);
    border: solid 2px var(--special-color);
    box-shadow: 0 0 0 4px var(--focus-border-color);
    outline: none;
}

button:disabled,
button.disabled {
    margin: 40px 121px 0 0;
    background-color: var(--disabled-color);
    color: var(--disabled-text-color);
    cursor: not-allowed;
    box-shadow: none;
}

input {
    width: 570px;
    height: 60px;

    border-radius: 6px;
    border: solid 1px var(--border-color);
    background-color: var(--white-color);
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--dark-color);
}

input:hover {

    border-color: var(--border-color);
}

input:focus {

    border: solid 1px var(--special-color);
    box-shadow: 0 0 0 4px var(--focus-border-color);
    background-color: var(--white-color);
    outline: none;
}

input:disabled,
input.disabled {

    opacity: 0.5;
    border-color: var(--border-color);
    background-color: var(--disabled-color);
    cursor: not-allowed;
}

.slider-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 !important;
    padding: 20px;
    border: solid 1px var(--white-border-color);
    background-color: var(--white-color);
    transition: all 0.3s ease;
    border-radius: 50%;
    cursor: pointer;
}

.slider-nav:hover {

    background-color: var(--accent-color);
}

.slider-nav:hover svg path {
    fill: var(--white-color);
}

.slider-nav:focus {

    border-radius: 41px;
    border: solid 2px var(--special-color);
    background-color: var(--accent-color);
    box-shadow: 0 0 0 4px var(--focus-border-color);
    outline: none;
}

.slider-nav:focus svg path {
    fill: var(--white-color);
}

.slider-nav:disabled,
.slider-nav.disabled {
    margin: 40px 216px 0 64px;
    background-color: var(--disabled-color);
    cursor: not-allowed;
}

.slider-nav:disabled svg path,
.slider-nav.disabled svg path {
    fill: #bbb9b9;
}

.slider-nav.prev svg {
    transform: rotate(180deg);
}


/*Logo and Menu*/
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--main-background-color);
    color: var(--dark-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 0;
    background-color: var(--main-background-color);
    width: 100%;
    box-sizing: border-box;
}

.nav {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

.logo {
    flex-shrink: 0;
    margin-left: 70px;
    margin-right: auto;
}

.logo img {
    width: 180px;
    height: 40px;
    padding: 3.6px 3.3px 3.5px 4.1px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 53px;
    list-style: none;
    padding: 0;
    margin: 0 70px 0 auto;
}

.nav-list li {
    text-decoration: none;
    color: var(--nav-item-text-color);
    font-size: 16px;
    font-weight: normal;
}

.nav-list li a {
    text-decoration: none;
    color: inherit;
}

.nav-list li.current-menu-item a,
.nav-list li.current_page_item a {
    font-weight: 500;
    color: var(--dark-color);
}

.nav-list li a:hover {
    color: var(--dark-color);
}
/*Main block*/

.main-content {
    position: relative;
    width: 100%;
    height: 856px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    box-sizing: border-box;
}

.left-content {
    position: absolute;
    width: 542px;
    left: 200px;
    top: 215px;
}

.left-content .text-content h1 {
    line-height: 0;
}

.left-content .text-content p {
    font-size: 20px;
    font-weight: 300;
}

.left-content button {
    box-shadow: 0 12px 24px 0 rgba(58, 149, 117, 0.28);
}

.right-content {
    position: relative;
    height: 100%;
    margin-left: 1181px;
    overflow: hidden;
}

.image-content {
    width: 100%;
    height: 100%;
}

.image-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.message {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid var(--half-dark-color);
    border-radius: 5px;
}
.message.success {
    border-color: var(--accent-color);
    color: var(--accent-color);
}
.message.error {
    border-color: var(--dark-color);
    color: var(--dark-color);
}

@media (max-width: 1900px) {
    .right-content {
        margin-left: 50vw;
    }

    .image-slide{
        margin-right: auto;
        margin-left: auto;
    }
}
/*Body content*/

.body-content {
    background-color: var(--white-color);
    padding: 100px 60px 60px 60px;
    box-sizing: border-box;
}

.banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 490px;
    border-radius: 10px;
    background-color: var(--second-background-color);
    padding: 0 30px;
    box-sizing: border-box;
}

.banner-left-content {
    width: 775px;
    margin-left: 100px;

}

.banner-left-content h2 {
    line-height: normal;
}

.banner-right-content {
    width: 821.5px;
    height: 490px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-right-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (max-width: 1900px) {
    .banner-right-content {
        width: 90%;
    }

    .banner-left-content {
        width: 40%;
    }

    .banner-content {
        width: 90vw;
    }

    .banner-left-content h2 {
        font-size: 40px;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

/*Slider*/
.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}
.slider-container {
    position: relative;
    width: 1070%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.comments-block {
    background-color: var(--white-color);
    padding: 60px 375px 120px 375px;
}

.comments-block h1 {
    line-height: 0;
}

.comments-block.slider-block {
    width: 1170px;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-title span {
    color: var(--accent-color);
}

.navigation-arrows {
    display: flex;
    gap: 20px;
}


.slide {
    min-width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background-color: var(--second-background-color);
    border-radius: 10px;
    padding: 30px 40px 30px 30px;
}

.image-slide {
    flex: 0 0 auto;
    width: 550px;
    height: 340px;
    overflow: hidden;
}

.image-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.text-slide {
    flex: 1;
    max-width: 90%;
    margin-right: 30px;
    text-align: left;
}

@media (max-width: 1245px) {
    .image-slide {
        width: 30vw;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .text-slide {
        max-width: 75%;
        margin-right: 5vw;
    }
}

.comment {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--dark-color);
    font-weight: normal;
}

.name-commentator {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--dark-color);
}

.job-title {
    font-size: 14px;
    color: var(--half-dark-color);
}

.bottom-content {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

/* Dots style*/
.slider-dots {
    display: flex;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: var(--dots-gray-color);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: var(--accent-color);
}

/* contact form*/

textarea {
    width: 570px;
    height: 120px;

    border-radius: 6px;
    border: solid 1px var(--border-color);
    background-color: var(--white-color);
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--dark-color);
    resize: none;
}

textarea:hover {
    border-color: var(--border-color);
}

textarea:focus {
    border: solid 1px var(--special-color);
    box-shadow: 0 0 0 4px var(--focus-border-color);
    background-color: var(--white-color);
    outline: none;
}

textarea:disabled,
textarea.disabled {
    opacity: 0.5;
    border-color: var(--border-color);
    background-color: var(--disabled-color);
    cursor: not-allowed;
}

textarea::placeholder {
    opacity: 0.5;
    color: var(--dark-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
}

.contact-section {
    display: flex;
    justify-content: center;
    padding: 60px 0;
    background-color: var(--main-background-color);
}

.contact-section-block {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 190px;
}

.contact-info {
    flex-shrink: 0;
    text-align: left;
}
.contact-info p{
    font-size: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    max-width: 570px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 16px;
}

.contact-form textarea {
    height: 120px;
    resize: none;
}

.contact-form button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 288px;
    height: 60px;
}

.contact-email a {
    color: var(--accent-color);
    transition: color 0.3s ease;
}

.space{
    height: 170px;
}


@media (max-width: 1900px) {
    .comments-block{
        margin: 0;
        padding: 6vw;
    }
}

@media (max-width: 1500px) {
    .slide {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        background-color: var(--second-background-color);
        border-radius: 10px;
        padding: 30px 40px 30px 30px;
    }
}

/*Footer*/
.footer {
    background-color: var(--white-color);
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-logo img {
    width: 290px;
    height: auto;
}

.footer-nav {
    margin-top: 10px;
}

.footer-nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 40px;
}

.footer-nav-list li {
    display: inline;
}

.footer-nav-list a {
    color: var(--dark-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-nav-list a:hover {
    color: var(--accent-color);
}

.footer-copyright {
    margin-top: 10px;
    font-size: 14px;
    color: var(--half-dark-color);
}
@media (max-width: 1000px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list {
        flex-direction: column;
        width: 100%;
    }

    .nav-item {
        margin: 10px 0;
        padding: 10px;
        width: 100%;
        text-align: left;
    }

    .main-content {
        height: auto;
        flex-direction: column;
        padding: 5px;
        align-items: center;
    }

    .left-content {
        position: relative;
        width: 100%;
        left: 5px;
        top: 5px;
        padding: 20px;
    }

    .left-content .text-content h1 {
        font-size: 24px;
        line-height: normal;
    }

    .left-content .text-content p {
        font-size: 16px;
        font-weight: normal;
    }

    .left-content button {
        margin: 20px 0;
        box-shadow: none;
    }

    .right-content {
        display: none;
    }

    .body-content {
        padding: 20px;
    }

    .banner-content {
        flex-direction: column;
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .banner-left-content {
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
    }

    .banner-left-content h2 {
        font-size: 24px;
        line-height: normal;
    }

    .banner-left-content p {
        font-size: 16px;
    }

    .banner-right-content {
        width: 100%;
        height: auto;
        display: none;
    }

    .comments-block {
        padding: 20px;
    }

    .comments-block.slider-block {
        width: 100%;
    }

    .top-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .slider-title span {
        color: var(--accent-color);
    }

    .navigation-arrows {
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
    }

    .image-slide {
        display: none;
    }
    .slide {
        min-width: 70%;
    }

    .text-slide {
        max-width: 80%;
        text-align: center;
    }

    .comment {
        font-size: 16px;
    }

    .name-commentator {
        font-size: 14px;
    }

    .job-title {
        font-size: 12px;
    }

    .bottom-content {
        padding: 10px 0;
    }

    .slider-dots {
        justify-content: center;
    }

    .dot {
        width: 8px;
        height: 8px;
    }

    .dot.active {
        background-color: var(--accent-color);
    }

    .contact-section {
        padding: 20px;
    }

    .contact-section-block {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .contact-info {
        text-align: center;
        padding: 0 20px;
    }

    .contact-info p {
        font-size: 18px;
    }

    .contact-form {
        width: 75%;
        max-width: none;
    }

    .contact-form input,
    .contact-form textarea {
        margin-left: 5px;
        margin-bottom: 12px;
    }

    .contact-form button {
        width: 100%;
        padding: 12px;
        height: 50px;
    }

    .space {
        height: 0;
    }

    .footer {
        padding: 20px 0;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer-logo img {
        width: 180px;
    }

    .footer-nav {
        margin-top: 10px;
    }

    .footer-nav-list {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer-nav-list a {
        font-size: 14px;
    }

    .footer-nav-list li {
        display: block;
    }

    .footer-copyright {
        font-size: 12px;
        padding: 10px 20px;
    }
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: auto;
    margin-right: 20px;
}

.hamburger-menu .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 1000px) {
    .hamburger-menu {
        display: flex;
    }

    .nav{
        flex-direction: unset;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 20%;
        margin: 0;
    }

    .nav-list.active {
        display: flex;
    }

    .hamburger-menu.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}
